@page
@model DichotomieWeb.Pages.Manage.Users.IndexModel

@{
    ViewData["Title"] = "Manage users";
}

<h2>Manage users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser[0].Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ApplicationUser)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>
